<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Command</servlet-name>
        <servlet-class>by.etc.shop.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Command</servlet-name>
        <url-pattern>/SignIn</url-pattern>
        <url-pattern>/Registration</url-pattern>
        <url-pattern>/ChangeLanguage</url-pattern>
        <url-pattern>/SignOut</url-pattern>
        <url-pattern>/AddProduct</url-pattern>
        <url-pattern>/DeleteProduct</url-pattern>
        <url-pattern>/ChangeProduct</url-pattern>
        <url-pattern>/FindProduct</url-pattern>
        <url-pattern>/AddToBasket</url-pattern>
        <url-pattern>/BasketProduct</url-pattern>
        <url-pattern>/AddStock</url-pattern>
        <url-pattern>/DeleteStock</url-pattern>
        <url-pattern>/ChangeStock</url-pattern>
        <url-pattern>/DeleteFromBasket</url-pattern>
        <url-pattern>/ChangeQuantity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <jsp-file>/WEB-INF/admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SalePage</servlet-name>
        <jsp-file>/WEB-INF/adminSales.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalePage</servlet-name>
        <url-pattern>/adminSales</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BasketPage</servlet-name>
        <jsp-file>/WEB-INF/basket.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BasketPage</servlet-name>
        <url-pattern>/BasketPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductPage</servlet-name>
        <jsp-file>/productpage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductPage</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignInPage</servlet-name>
        <jsp-file>/signin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInPage</servlet-name>
        <url-pattern>/GoToSignIn</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>by.etc.shop.controller.listener.SessionListener</listener-class>
    </listener>


    <filter>
        <filter-name>localizationFilter</filter-name>
        <filter-class>by.etc.shop.controller.filter.Localization</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>localizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.etc.shop.controller.filter.Encoding</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
